body {
  background-color: #010;
  font-family: 'Muli light', sans-serif;
  background-image: url(http://www.styleshout.com/templates/preview/Ceevee10/images/header-background.jpg)
}

h1, p {
  text-align: center;
  color: #f1f1f1;
}

h1{
  padding-top: 20%
}

hr { 
  border: shade #E3E3E3; 
  border-width: 1px 0 0; 
  clear: both; 
  /*margin: 11px 0 30px; */
  height: 0; 
  width: 40%;
  /* align="center"; */
}